{
    "env": {
      "es2021": true,
      "node": true
    },
    "extends": [
      "airbnb-typescript/base",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "import",
      "@typescript-eslint"
    ],
    "rules": {
      "@typescript-eslint/no-explicit-any": 2,
      "class-methods-use-this": "off",
      "max-len": ["warn", { "code": 170 }],
      "indent": "off",
      "@typescript-eslint/indent": "off",
      "import/prefer-default-export": "off",
      "no-param-reassign": ["error", {
      "props": false
      }], 
      "@typescript-eslint/comma-dangle": ["error", "only-multiline"],
      "@typescript-eslint/brace-style": "off",
      "@typescript-eslint/naming-convention": "off",
      "no-case-declarations": "off"
    },
    "ignorePatterns": ["*config.js"]
}
